:root{

    --main-color: #FFFFFF;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #808080;
    --light-gray: #F5F5F5;
    --dark-gray: #A9A9A9;
    --red: #FF0000;
    --green: #008000;
    --blue: #0000FF;
    --yellow: #FFFF00;
    --orange: #FFA500;
    --purple: #800080;
    --pink: #FFC0CB;
    --brown: #A52A2A;
    --main-font: 'Roboto', sans-serif;
    --main-font-size: 1.6rem;
    --main-font-weight: 400;
    --main-font-color: #000000;
    --main-font-color-hover: #FFFFFF;
}